
@{
    ViewData["Title"] = "Index";
}

<div class="header">Codec Control</div>

<div id="app">
    <div class="codecs" v-for="codec in codecs">
        <div class="codec-name">{{codec.sipAddress}}</div>
        <button v-on:click="subscribe(codec.sipAddress)">Subscribe</button>
        <button v-on:click="unsubscribe(codec.sipAddress)">Unsubscribe</button>
        <span class="vu-values">
            Rx {{codec.audioStatus.vuValues.rxLeft}} / {{codec.audioStatus.vuValues.rxRight}}
            Tx:{{codec.audioStatus.vuValues.txLeft}} / {{codec.audioStatus.vuValues.txRight}}
        </span>
        <span class="updated">{{codec.updated}}</span>
    </div>

    <div class="unit">
        <div class="mb-1">
            <span class="subheader">Aktuella prenumerationer</span>
            <button v-on:click="getSubscriptions">Ladda om</button>
        </div>
        <table v-if="subscriptions.length > 0">
            <thead>
                <tr>
                    <th>Connection id</th>
                    <th>Sip address</th>

                </tr>
            </thead>
            <tr v-for="subscription in subscriptions">
                <td>{{subscription.connectionId}}</td>
                <td>{{subscription.sipAddress}}</td>
            </tr>
        </table>
    </div>

    <div class="unit">
        <div class="mb-1">
            <label for="sipAddress" class="subheader">Lägg till styrbar ljudkodare</label>
            <input id="sipAddress" 
                   type="text" 
                   placeholder="sipAddress" 
                   v-model="sipAddress"
                   v-on:keydown.enter="getCodecInformationBySipAddress(sipAddress)"/>
            <button v-on:click="getCodecInformationBySipAddress(sipAddress)" >Lägg till</button>
        </div>
    
        <table>
            <thead>
            <tr>
                <th>SipAddress</th>
                <th>IP</th>
                <th>API</th>
                <th>GPO-namn</th>
                <th>#Ingångar</th>
                <th>#GPO</th>
            </tr>
            </thead>
            <tr v-for="ci in codecInformation">
                <td v-for="value in ci">{{value}}</td>
            </tr>
        </table>
    </div>

    <br />
    <div class="small">Version @ViewData["Version"] i drift sedan @ViewData["ReleaseDate"]</div>
    <div class="small">Server: @ViewData["Server"]</div>

</div>

<style>

    body {
        margin: 25px;
        padding: 0;
        height: 100%;
        background-color: white;
        font-family: roboto, Arial, Helvetica, sans-serif;
        /*line-height: 2;*/
        color: #0F1525;
        font-size: 11pt;
    }

    .header {
        display: block;
        font-size: 2em;
        margin-block-end: 1em;
        font-weight: bold;
    }

    .small {
        font-size: 12px;
    }

    .unit {
        margin-top: 45px;
    }

    .codecs {
        width: 700px;
    }

    .codec-name {
        width: 200px;
        float: left
    }

    .codecs button {
        width: 90px
    }

    .codecs .vu-values {
        width: 170px;
        display: inline-block;
    }

    .codecs .updated {
        font-size: smaller;
    }

    .subheader {
        margin-top: 25px;
        font-size: large;
        font-weight: bold;
    }

    table {
        border: solid 1px black;
        line-height: 1;
    }

    th {
        font-size: small;
    }

    td {
        border-top: 0.1rem solid #c7c7c7;
        border-right: 0.1rem solid #c7c7c7;
        font-size: smaller;
    }
    .mb-1 {
        margin-bottom: 1em;
    }
</style>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/vue/dist/vue.js"></script>
<script src="~/lib/axios/dist/axios.js"></script>
<script src="~/js/codeccontrol.js"></script>





