<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets async="true">
        <target name="file" xsi:type="File"
                fileName="C:\github\codeccontrol\src\CodecControl.Web\wwwroot\logFiles\CodecControl-${shortdate}.log"
                layout="${longdate} | ${uppercase:${level}} | ${logger:shortName=true:padding=16:fixedlength=true} | ${message} ${exception:format=tostring}"
                keepFileOpen="true" />
        <target name="msfile" xsi:type="File"
                fileName="C:\github\codeccontrol\src\CodecControl.Web\wwwroot\logFiles\CodecControl-ms-${shortdate}.log"
                layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=tostring}"
                keepFileOpen="true" />
        <target name="debugger" xsi:type="Debugger"
                layout="${level:uppercase=true:padding=5} | ${logger:shortName=true:padding=16:fixedlength=true} | ${message}"/>
    </targets>

    <rules>
        <logger name="Microsoft.*" minLevel="Info" writeTo="msfile" final="true" /> 
        <logger name="*" minlevel="Info" writeTo="file" />
        <logger name="*" minlevel="Info" writeTo="debugger" />
    </rules>

</nlog>