<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets async="true">
        <target xsi:type="File" name="file" fileName="${basedir}/wwwroot/logFiles/CodecControl-${shortdate}.log"
                layout="${longdate} | ${uppercase:${level}} | ${message} ${exception:format=tostring}" />
        <target name="debugger" xsi:type="Debugger"
                layout="${level:uppercase=true:padding=5} | ${logger:shortName=true:padding=16:fixedlength=true} | ${message}"/>
    </targets>

    <rules>
        <!--<logger name="Microsoft.*" maxLevel="Info" final="true" /> --><!-- BlackHole without writeTo -->
        <logger name="*" minlevel="Trace" writeTo="file" />
        <logger name="*" minlevel="Trace" writeTo="debugger" />
    </rules>

</nlog>